In [147]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder,StandardScaler

In [148]:
# loading the trained model, scaler, one hot encoder, label encoder
model=load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('oh_encoder_country.pkl','rb') as file:
    oh_encoder_country=pickle.load(file)
with open('scaler.pickle','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [149]:
# example inpuyt data
input_data={
    'credit_score': 600, 'country' : 'France', 'gender': 'Male', 'age': 40, 'tenure': 3, 'balance': 60000,
       'products_number': 2, 'credit_card': 1, 'active_member':1, 'estimated_salary':50000
}

In [150]:

input_df=pd.DataFrame([input_data.values()],columns=input_data.keys())

In [151]:
input_df['gender']=label_encoder_gender.transform(input_df['gender'])
country_df=oh_encoder_country.transform([input_df['country']]).toarray()

d:\Machine Learning\Complete Machine Learning\49_EndToEndDeepLearningANN\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [152]:
input_df.drop('country',axis=1,inplace=True)
oh_encoder_country.categories_

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [153]:
country_df=pd.DataFrame(country_df,columns=['France','Germany','Spain'])
x_input=input_df.join(country_df)

In [154]:
x_input

,credit_score,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,France,Germany,Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [155]:
x_input=scaler.transform(x_input)

In [156]:
x_input

array([[-0.53021047,  0.91647499,  0.10832068, -0.6987795 , -0.2648599 ,
         0.81255095,  0.64784127,  0.97238125, -0.8658798 ,  0.99252792,
        -0.57754272, -0.57138416]])

In [157]:
input_prediction=model.predict(x_input)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step

In [158]:
prediction_proba=input_prediction[0][0]
prediction_proba

np.float32(0.02126074)

In [159]:
if prediction_proba>0.5:
    print("The Customer is likely to chrun.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.